In [28]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
import seaborn as sn
from sklearn.metrics import accuracy_score
from sklearn.feature_selection import SelectKBest,chi2
from sklearn.ensemble import ExtraTreesClassifier
from sklearn.ensemble import RandomForestClassifier
from sklearn.neighbors import KNeighborsClassifier
from sklearn.tree import DecisionTreeClassifier
from sklearn import model_selection
from sklearn.model_selection import train_test_split
from sklearn.pipeline import Pipeline
from sklearn.preprocessing import StandardScaler
from sklearn.decomposition import PCA
from sklearn.model_selection import GridSearchCV
#Import segala library yg dibutuhkan

In [29]:
dataset = pd.read_csv('dataset/train.csv')
dataset.head()
#masukin data training sebagai dataset

,battery_power,blue,clock_speed,dual_sim,fc,four_g,int_memory,m_dep,mobile_wt,n_cores,...,px_height,px_width,ram,sc_h,sc_w,talk_time,three_g,touch_screen,wifi,price_range
0,842,0,2.2,0,1,0,7,0.6,188,2,...,20,756,2549,9,7,19,0,0,1,1
1,1021,1,0.5,1,0,1,53,0.7,136,3,...,905,1988,2631,17,3,7,1,1,0,2
2,563,1,0.5,1,2,1,41,0.9,145,5,...,1263,1716,2603,11,2,9,1,1,0,2
3,615,1,2.5,0,0,0,10,0.8,131,6,...,1216,1786,2769,16,8,11,1,0,0,2
4,1821,1,1.2,0,13,1,44,0.6,141,2,...,1208,1212,1411,8,2,15,1,1,0,1

In [30]:
dataset.info()
#Melihat info dataset

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2000 entries, 0 to 1999
Data columns (total 21 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   battery_power  2000 non-null   int64
 1   blue           2000 non-null   int64
 2   clock_speed    2000 non-null   float64
 3   dual_sim       2000 non-null   int64
 4   fc             2000 non-null   int64
 5   four_g         2000 non-null   int64
 6   int_memory     2000 non-null   int64
 7   m_dep          2000 non-null   float64
 8   mobile_wt      2000 non-null   int64
 9   n_cores        2000 non-null   int64
 10  pc             2000 non-null   int64
 11  px_height      2000 non-null   int64
 12  px_width       2000 non-null   int64
 13  ram            2000 non-null   int64
 14  sc_h           2000 non-null   int64
 15  sc_w           2000 non-null   int64
 16  talk_time      2000 non-null   int64
 17  three_g        2000 non-null   int64
 18  touch_screen   2000 non-null   int64
 19  wifi           2000 non-null   int64
 20  price_range    2000 non-null   int64
dtypes: float64(2), int64(19)
memory usage: 328.2 KB

In [31]:
dataset.describe()
#Melihat deskripsi dataset

,battery_power,blue,clock_speed,dual_sim,fc,four_g,int_memory,m_dep,mobile_wt,n_cores,...,px_height,px_width,ram,sc_h,sc_w,talk_time,three_g,touch_screen,wifi,price_range
count,2000.000000,2000.0000,2000.000000,2000.000000,2000.000000,2000.000000,2000.000000,2000.000000,2000.000000,2000.000000,...,2000.000000,2000.000000,2000.000000,2000.000000,2000.000000,2000.000000,2000.000000,2000.000000,2000.000000,2000.000000
mean,1238.518500,0.4950,1.522250,0.509500,4.309500,0.521500,32.046500,0.501750,140.249000,4.520500,...,645.108000,1251.515500,2124.213000,12.306500,5.767000,11.011000,0.761500,0.503000,0.507000,1.500000
std,439.418206,0.5001,0.816004,0.500035,4.341444,0.499662,18.145715,0.288416,35.399655,2.287837,...,443.780811,432.199447,1084.732044,4.213245,4.356398,5.463955,0.426273,0.500116,0.500076,1.118314
min,501.000000,0.0000,0.500000,0.000000,0.000000,0.000000,2.000000,0.100000,80.000000,1.000000,...,0.000000,500.000000,256.000000,5.000000,0.000000,2.000000,0.000000,0.000000,0.000000,0.000000
25%,851.750000,0.0000,0.700000,0.000000,1.000000,0.000000,16.000000,0.200000,109.000000,3.000000,...,282.750000,874.750000,1207.500000,9.000000,2.000000,6.000000,1.000000,0.000000,0.000000,0.750000
50%,1226.000000,0.0000,1.500000,1.000000,3.000000,1.000000,32.000000,0.500000,141.000000,4.000000,...,564.000000,1247.000000,2146.500000,12.000000,5.000000,11.000000,1.000000,1.000000,1.000000,1.500000
75%,1615.250000,1.0000,2.200000,1.000000,7.000000,1.000000,48.000000,0.800000,170.000000,7.000000,...,947.250000,1633.000000,3064.500000,16.000000,9.000000,16.000000,1.000000,1.000000,1.000000,2.250000
max,1998.000000,1.0000,3.000000,1.000000,19.000000,1.000000,64.000000,1.000000,200.000000,8.000000,...,1960.000000,1998.000000,3998.000000,19.000000,18.000000,20.000000,1.000000,1.000000,1.000000,3.000000

In [32]:
dataset.isnull().any()
#Mengechek adakah nilai null/missing

battery_power    False
blue             False
clock_speed      False
dual_sim         False
fc               False
four_g           False
int_memory       False
m_dep            False
mobile_wt        False
n_cores          False
pc               False
px_height        False
px_width         False
ram              False
sc_h             False
sc_w             False
talk_time        False
three_g          False
touch_screen     False
wifi             False
price_range      False
dtype: bool

In [33]:
dataset['price_range'].value_counts()
# Melihat berapa banyak jumlah per range harga

3    500
2    500
1    500
0    500
Name: price_range, dtype: int64

In [34]:
x = dataset.iloc[:,:20]
y = dataset.iloc[:,20:]

In [35]:
x

,battery_power,blue,clock_speed,dual_sim,fc,four_g,int_memory,m_dep,mobile_wt,n_cores,pc,px_height,px_width,ram,sc_h,sc_w,talk_time,three_g,touch_screen,wifi
0,842,0,2.2,0,1,0,7,0.6,188,2,2,20,756,2549,9,7,19,0,0,1
1,1021,1,0.5,1,0,1,53,0.7,136,3,6,905,1988,2631,17,3,7,1,1,0
2,563,1,0.5,1,2,1,41,0.9,145,5,6,1263,1716,2603,11,2,9,1,1,0
3,615,1,2.5,0,0,0,10,0.8,131,6,9,1216,1786,2769,16,8,11,1,0,0
4,1821,1,1.2,0,13,1,44,0.6,141,2,14,1208,1212,1411,8,2,15,1,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1995,794,1,0.5,1,0,1,2,0.8,106,6,14,1222,1890,668,13,4,19,1,1,0
1996,1965,1,2.6,1,0,0,39,0.2,187,4,3,915,1965,2032,11,10,16,1,1,1
1997,1911,0,0.9,1,1,1,36,0.7,108,8,3,868,1632,3057,9,1,5,1,1,0
1998,1512,0,0.9,0,4,1,46,0.1,145,5,5,336,670,869,18,10,19,1,1,1
1999,510,1,2.0,1,5,1,45,0.9,168,6,16,483,754,3919,19,4,2,1,1,1

In [36]:
y

      price_range
0               1
1               2
2               2
3               2
4               1
...           ...
1995            0
1996            2
1997            3
1998            0
1999            3

[2000 rows x 1 columns]

In [37]:
print(x.shape)
print(y.shape)

(2000, 20)
(2000, 1)

In [38]:
best_feature = SelectKBest(chi2, k= 10)
fit = best_feature.fit(x,y)

In [39]:
dfscores = pd.DataFrame(fit.scores_)
dfcolumns = pd.DataFrame(x.columns)

In [40]:
score_list = pd.concat([dfcolumns, dfscores], axis=1)
score_list.columns = ["features","scores"]

In [41]:
score_list

         features         scores
0   battery_power   14129.866576
1            blue       0.723232
2     clock_speed       0.648366
3        dual_sim       0.631011
4              fc      10.135166
5          four_g       1.521572
6      int_memory      89.839124
7           m_dep       0.745820
8       mobile_wt      95.972863
9         n_cores       9.097556
10             pc       9.186054
11      px_height   17363.569536
12       px_width    9810.586750
13            ram  931267.519053
14           sc_h       9.614878
15           sc_w      16.480319
16      talk_time      13.236400
17        three_g       0.327643
18   touch_screen       1.928429
19           wifi       0.422091

In [42]:
print(score_list.nlargest(10,"scores"))

         features         scores
13            ram  931267.519053
11      px_height   17363.569536
0   battery_power   14129.866576
12       px_width    9810.586750
8       mobile_wt      95.972863
6      int_memory      89.839124
15           sc_w      16.480319
16      talk_time      13.236400
4              fc      10.135166
14           sc_h       9.614878

In [43]:
dataset.drop(dataset.columns[[1,2,3,5,7,9,10,17,18,19,6,15,16,4,14]],axis=1,inplace=True)

In [44]:
dataset.head()

   battery_power  mobile_wt  px_height  px_width   ram  price_range
0            842        188         20       756  2549            1
1           1021        136        905      1988  2631            2
2            563        145       1263      1716  2603            2
3            615        131       1216      1786  2769            2
4           1821        141       1208      1212  1411            1

In [45]:
dataset.tail()

      battery_power  mobile_wt  px_height  px_width   ram  price_range
1995            794        106       1222      1890   668            0
1996           1965        187        915      1965  2032            2
1997           1911        108        868      1632  3057            3
1998           1512        145        336       670   869            0
1999            510        168        483       754  3919            3

In [46]:
x = dataset.iloc[:,0:5].values
y = dataset.iloc[:,5:].values

In [47]:
x

array([[ 842,  188,   20,  756, 2549],
       [1021,  136,  905, 1988, 2631],
       [ 563,  145, 1263, 1716, 2603],
       ...,
       [1911,  108,  868, 1632, 3057],
       [1512,  145,  336,  670,  869],
       [ 510,  168,  483,  754, 3919]], dtype=int64)

In [48]:
y

array([[1],
       [2],
       [2],
       ...,
       [3],
       [0],
       [3]], dtype=int64)

In [49]:
X_train,X_test,y_train,y_test = train_test_split(x,y,test_size=0.2,random_state=0)

In [50]:
print(X_train.shape)
print(X_test.shape)
print(y_train.shape)
print(y_test.shape)

(1600, 5)
(400, 5)
(1600, 1)
(400, 1)

In [51]:
#Membuat pipeline
pipe_rf = Pipeline([('scalar', StandardScaler()),
                    ('rf', RandomForestClassifier(random_state=0))])

pipe_knn = Pipeline([('scalar', StandardScaler()),
                    ('knn', KNeighborsClassifier())])

pipe_dt = Pipeline([('scalar', StandardScaler()),
                    ('dt', DecisionTreeClassifier())])

In [52]:
#Set grid search params
criterion_params = ['gini','entropy']

grid_params_rf = [{'rf__n_estimators':[1,10,100,1000,10000],
                    'rf__criterion': criterion_params}]
grid_params_knn = [{'knn__n_neighbors':[1,2,3,4,5,10,15,20,25],
                    'knn__weights':['uniform','distance'],
                    'knn__algorithm':['auto','ball_tree','kd_tree','brute']}]
grid_params_dt = [{'dt__criterion':criterion_params,
                    'dt__splitter':['best','random']}]

In [53]:
# Construct grid searches
jobs = -1


RF = GridSearchCV(estimator=pipe_rf,param_grid=grid_params_rf,scoring='accuracy',cv=10,n_jobs=jobs)
KNN = GridSearchCV(estimator=pipe_knn,param_grid=grid_params_knn,scoring='accuracy',cv=10,n_jobs=jobs)
DT = GridSearchCV(estimator=pipe_dt,param_grid=grid_params_dt,scoring='accuracy',cv=10)

#List dari pipeline untuk nantinya akan diiterasi
grids = [RF, KNN, DT]

#Membuat dictionary untuk dijadikan referensi
grid_dict = {0:'Random Forest Classifier',
             1:'KNeighbors Classifier',
             2:'Decission Tree Classifier'}

In [54]:
#Membuat grid search object
print('Memulai optimisasi model....')
best_acc=0.0
best_clf=0
best_gs =''

for idx, gs in enumerate(grids):
    print('\nEstimator: %s'%grid_dict[idx])
    gs.fit(X_train,y_train.ravel())
    print('Best parameter adalah : %s'%gs.best_params_)
    #Best training data accuracy
    print('Best training accuracy : %.3f'%gs.best_score_)
    #Prediksi berdasarkan data test dengan best parameter
    y_pred = gs.predict(X_test)
    #Test data accuracy dari model berdasarkan best parameter
    print('Test set accuracy score for best params : %.3f'%accuracy_score(y_test, y_pred))
    #Mencari best model dengan akurasi tertinggi
    if accuracy_score(y_test,y_pred) > best_acc:
        best_acc = accuracy_score(y_test,y_pred)
        best_gs = gs
        best_clf = idx

print('\nClassifier dengan best test set accuracy : %s'%grid_dict[best_clf])

Memulai optimisasi model....

Estimator: Random Forest Classifier
Best parameter adalah : {'rf__criterion': 'entropy', 'rf__n_estimators': 1000}
Best training accuracy : 0.910
Test set accuracy score for best params : 0.915

Estimator: KNeighbors Classifier
Best parameter adalah : {'knn__algorithm': 'auto', 'knn__n_neighbors': 20, 'knn__weights': 'distance'}
Best training accuracy : 0.863
Test set accuracy score for best params : 0.895

Estimator: Decission Tree Classifier
Best parameter adalah : {'dt__criterion': 'entropy', 'dt__splitter': 'best'}
Best training accuracy : 0.871
Test set accuracy score for best params : 0.875

Classifier dengan best test set accuracy : Random Forest Classifier